.contacts {
  width: 267px;
  border-left: 1px solid #D7D9DF;
  border-right: 1px solid #D7D9DF;
  padding:0 30px 0 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  &__email {
    margin-top: -35px;
    margin-left: 39px;
    font-size: 14px;
    line-height: 17px;
    color: $orange;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      background-image: url(../img/icon/email.svg);
      background-repeat: no-repeat;
      background-position: center;
      left: -43px;
      top: -6px;
    }
  }
  &__phone {
    font-size: 16px;
    line-height: 32px;
    margin-top: -58px;
    margin-left: 40px;
    color: $orange;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      background-image: url(../img/icon/phone.svg);
      background-repeat: no-repeat;
      background-position: center;
      left: -41px;
      top: -3px;
    }
  }
}

@media (max-width:$tablet) {
  .contacts {
    font-family: "Montserrat";
    border-left: 1px solid #D7D9DF;
    border-right: none;
    padding-left: 54px;
    padding-bottom: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    &__email {
      font-size: 14px;
      margin-left: 36px;
      margin-top: -3px;
      line-height: 17px;
      color: $orange;
      position: relative;
      text-decoration: none;
      &::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url(../img/icon/email.svg);
        background-repeat: no-repeat;
        background-position: center;
        left: -44px;
        top: -8px;
      }
    }
    &__phone {
      font-size: 16px;
      line-height: 32px;
      margin-left: 34px;
      margin-top: -16px;
      color: $orange;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url(../img/icon/phone.svg);
        background-repeat: no-repeat;
        background-position: center;
        left: -39px;
        top: -4px;
      }
    }
  }
}

@media (max-width:$mobile) {
  .contacts {
    margin-left: auto;
    margin-right: auto;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #D7D9DF;
    border-bottom: 1px solid #D7D9DF;
    padding-left: 0;
    padding-top: 30px;
    padding-bottom: 19px;
    justify-content: center;
    &__email {
      margin-top: 27px;
      margin-bottom: 12px;
      margin-left: 14%;
      &::after {
        left: -43px;
        top: -7px;
      }
    }
    &__phone {
      margin-top: 2px;
      margin-bottom: -6px;
      margin-left: 35px;
      &::after {
        left: -36px;
      }
    }
  }
}
