.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1160px;
  margin-top: 188px;
  margin-bottom:81px;
  margin-left: auto;
  margin-right: auto;
  &__contacts
  &__next-way,
  &__corp-way {
    width: 25.8%;
  }
  &__head {
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: $darck;
  }
}

@media (max-width:$tablet) {
  .footer {
    justify-content: space-between;
    margin: 82px auto 81px auto;
    &__next-way{
      width: 47%;
      margin-left: 21px;
    }
    &__corp-way {
      width: 100%;
    }

  }
}
@media (max-width:$mobile) {
  .footer {
    width: 90vw;
    margin: 70px auto 25px auto;
    text-align: center;
    flex-direction: column;
    &__contacts
    &__next-way,
    &__corp-way {
    margin: auto;
    min-width: 320px;
    width: 80%;
  }
    &__head {
      width: auto;
      font-weight: 600;
      font-size: 18px;
      line-height: 32px;
      color: $darck;
      margin: auto;
    }
  }
}
