.contacts {
  width: 296px;
  border-left: 1px solid #D7D9DF;
  border-right: 1px solid #D7D9DF;
  padding-left: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  &__email {
    font-size: 14px;
    line-height: 17px;
    color: $orange;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      background-image: url(../img/icon/email.svg);
      background-repeat: no-repeat;
      background-position: center;
      left: -30px;
      top: -3px;
    }
  }
  &__phone {
    font-size: 16px;
    line-height: 32px;
    color: $orange;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      background-image: url(../img/icon/phone.svg);
      background-repeat: no-repeat;
      background-position: center;
      left: -30px;
      top: -3px;
    }
  }
}

@media (max-width:$mobile) {
  .contacts {
    width: 288px;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #D7D9DF;
    border-bottom: 1px solid #D7D9DF;
    padding-left: 0;
    padding-top: 30px;
    padding-bottom: 19px;
    justify-content: center;
    &__email {
      margin-top: 27px;
      margin-bottom: 12px;
      &::after {
        left: -40px;
      }
    }
    &__phone {
      &::after {
        left: -40px;
      }
    }
  }
}
