.corp-way {
  margin-left: 48px;
  &__text {
    margin-top: 22px;
    width: 110%;
    font-size: 14px;
    line-height: 24px;
  }
}

@media (max-width:$tablet) {
  .corp-way {
    width: 100%;
    text-align: center;
    padding-left: 0px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 9px;
    border-top: 1px solid #D7D9DF;
    padding-top: 28px;
    &__text {
      width: 100%;
      margin-top: 20px;
      font-size: 14px;
      line-height: 170%;
    }
  }

}

@media (max-width:$mobile) {
  .corp-way {
    width: 300px;
    padding-top: 30px;
    border-top: none;
    margin-left: auto;
    margin-right: auto;
    &__text {
      width: 288px;
      font-size: 15px;
      line-height: 24px;
    }
  }
}
