.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1170px;
  margin: 25px auto 81px auto;
  &__next-way,
  &__contacts,
  &__corp-way {
    width: 390px;
  }
  &__head {
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: $darck;
  }
}

