.header {
  width: 100%;
  max-width: 1156px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  height: 99px;
  &__logo {
    margin-top: 39px;
  }
  &__main-nav-toggle {
    visibility: hidden;
  }
  &__main-nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 475px;
    margin-top: 42px;
  }
  &__item {
    list-style: none;
    width: max-content;
    &:first-child {
      margin-right: -49px;
    }
  }
  &__item-index {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: $darck;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.2s;
    &:hover {
      color: $orange;
      &::after {
        background-image: url(../img/icon/phone-orange.svg);
      }
    }
    &--phone {
      text-decoration: underline;
      position: relative;
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      &::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url(../img/icon/phone-black.svg);
        background-repeat: no-repeat;
        background-position: center;
        left: -40px;
        top: -5px;
      }
    }
  }
}

@media (max-width:$tablet) {
  .header {
    width: 100%;
    position: relative;
    height: 50px;
    &__logo {
      margin-top: 18.51px;
      margin-left: 21px;
    }
    &__logo-image {
      width: 44px;
      height: 17px;
    }
    &__main-nav-toggle {
      visibility: visible;
      border: none;
      background-color: $orange;
      width: 72px;
      height: 50px;
      background-image: url(../img/icon/menu.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 40%;
      &--close {
        z-index: 2;
        position: fixed;
        background-image: url(../img/icon/close.svg);
        right: 0;
        background-color: transparent;
      }
    }
    &__main-nav {
      position: fixed;
      z-index: 1;
      background-color: white;
      width: 100%;
      height: 100%;
      font-size: 20px;
      line-height: 140%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    &__main-nav-list {
      padding: 0;
    }
    &__item {
      width: 80%;
      height: 48px;
      margin-bottom: 0px;
      padding-left: 20%;
      padding-top: 12px;
      background-color: #FBF8F8;
      &--phone {
        visibility: hidden;
      }
    }
  }
}


@media (max-width:$mobile) {
  .header {
    &__logo {
      margin-top: 18.51px;
      margin-left: 16px;
    }
    &__main-nav-toggle {
      width: 50px;
      background-size: 50%;
    }
  }
}

