.places {
  width: 100%;
  max-width: 1300px;
  margin: 199px auto 0 auto;
  &__head {
    width: 358px;
    font-weight: 600;
    font-size: 55px;
    line-height: 80px;
    margin-left: 4.7%;
    margin-bottom: 66px;
    letter-spacing: -1px;
    color: $darck-light;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 228.51px;
      height: 4px;
      background-color: $orange;
      left: 0;
      bottom: -34px;
    }
  }
  &__tagline {
    width: 328px;
    margin-left: 4.7%;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.466667px;
    font-weight: 400;
    color: rgba(44, 46, 63, 0.7);
  }
  &__list {
    padding: 0;
    margin-top: 54px;
    margin-left: 14px;
    margin-right: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    margin: 0 31px 98px 31px;
    position: relative;
    list-style: none;
    &:last-child,
    &:nth-last-child(2) {
      margin: 0 60px 0 60px;
    }
    &:hover .places__button-wrapper{
      visibility:visible;
      opacity: 1;
    }
  }
  &__name {
    position: absolute;
    bottom: -20px;
    left: 68px;
    background-color: white;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    width: 215px;
    padding-top: 16px;
    padding-bottom: 17px;
  }
  &__button-wrapper {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity;
    transition-duration: 0.2s;
    background: rgba(20, 21, 23, 0.6);
    height: 430px;
    width: 350px;
    bottom: 4px;
  }
  &__button {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    display: block;
    margin: 177px 42px 176px 42px;
    color: white;
    text-decoration: none;
    padding: 30px 22px 30px 22px;
  }
}

@media (max-width:$tablet) {
  .places {
    max-width: 634px;
    margin: 80px auto 0 auto;
    &__head {
      width: 90%;
      text-align: center;
      font-size: 30px;
      letter-spacing: 1.6px;
      line-height: 45px;
      &::after {
        visibility: hidden;
      }
    }
    &__tagline {
      width: 333px;
      margin-top: -4px;
      margin-bottom: 21px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 12px;
    }
    &__item {
      margin: 0 9px 19px 10px;
      position: relative;
      list-style: none;
      &:last-child,
      &:nth-last-child(2) {
        margin: 0 9px 19px 10px;
      }
      &:hover .places__button-wrapper{
        visibility:visible;
        opacity: 1;
      }
    }
    &__photo {
      width: 288px;
      height: 425px;
      object-fit: cover;
    }
    &__name {
      position: absolute;
      bottom: -20px;
      left: 36px;
      padding-bottom: 16px;
    }
    &__button-wrapper {
      height: 425px;
      width: 288px;
    }
    &__button {
      text-align: center;
    }
  }
}

@media (max-width:$mobile) {
  .places {
    margin: 307px auto 0 auto;
    &__head {
      width: 90%;
      margin: 0 auto 20px auto;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.4px;
    }
    &__tagline {
      width: 100%;
      margin-top: 2px;
      margin-bottom: 0px;

      font-size: 16px;
      line-height: 28px;
      letter-spacing: -0.466667px;
          }
    &__item {
      margin: 7px auto 30px auto;
      position: relative;
      &:hover .places__button-wrapper{
        visibility:visible;
        opacity: 1;
      }
    }
  }
}
