.price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1150px;
  margin: 140px auto 0px auto;
  z-index: 1;
  position: relative;
  &__paopup {
    position: absolute;
  }
  &__description {
    width: 30.5%;
    max-width: 370px;
    order: 2;
  }
  &__sute {
    width: 27%;
    max-width: 308px;
    background: #FFFFFF;
    border: 1px solid rgba(44, 46, 63, 0.3);
    border-radius: 6px;
    padding: 42px 30px 32px 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &:hover {
      border: 3px solid $orange;
      padding: 40px 28px 30px 28px;
    }
    &:hover > .price__name,
    &:hover > .price__sum {
      color: $orange;
      letter-spacing: 0.1px;
    }
    &:hover .price__item::after {
      background-image:url(../img/icon/check.svg);
      background-position: center;
      padding-left: 0px;
    }
    &:hover .price__reference {
      border-bottom: 1px solid $orange;
    }
  }
  &__name {
    margin: -4px 0px 2px -2px;
    font-weight: 600;
    letter-spacing: -1.2px;
    font-size: 28px;
    line-height: 38px;
    width: max-content;
    transition-property: color, letter-spacing;
    transition-duration: 0.2s;
  }
  &__sum {
    font-size: 25px;
    line-height: 34px;
    font-weight: 700;
  }
  &__reference {
    font-size: 16px;
    line-height: 24px;
    margin-top: 37px;
    padding-bottom: 28px;
    margin-bottom: 9px;
    width: 290px;
    border-bottom: 1px solid rgba(44, 46, 63, 0.3);
  }
  &__list {
    list-style: none;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 32px;
    margin-left: 28px;
    width: 200px;
    height: 317px;
    padding: 0;
  }
  &__item {
    position: relative;
    width: 121%;
    margin-bottom: 6px;
    margin-top: 6px;
    &::after {
      background-image:url(../img/icon/check-orange.svg);
      content: '';
      position: absolute;
      height: 12px;
      width: 14px;
      left: -27px;
      top: 10px;
    }
  }
  &__button {
    border-radius: 0;
    border: none;
    background-color: $orange;
    margin-top: 16px;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 310px;
    height: 75px;
    transition-property: background-color;
    transition-duration: 0.2s;
    &:hover {
      background-color: $orange-light;
    }
  }
  &__head {
    margin: 112px 0 50px 22.5%;
    font-weight: 600;
    font-size: 55px;
    line-height: 90px;
    color: $darck-light;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 175px;
      height: 2.92px;
      background-color: $orange;
      left: 0;
      bottom: -20px;
    }
  }
  &__text {
    font-size: 16px;
    line-height: 170%;
    width: 83%;
    margin-left: 22.5%;
  }
  &__contact {
    width: 249px;
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
    margin-left: 36.4%;
    margin-top: 60px;
  }
  &__phone {
    width: 249px;
    font-size: 20px;
    line-height: 32px;
    margin-left: 36%;
    margin-top: 12px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      background-image: url(../img/icon/phone-orange.svg);
      background-repeat: no-repeat;
      background-position: center;
      left: -50px;
      top: -3px;
    }
  }
}

@media (max-width:$tablet) {
  .price {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto 0px auto;
    z-index: 1;
    position: relative;
    &__paopup {
      position: absolute;
    }
    &__description {
      width: 100%;
      max-width: 730px;
      order: 0;
    }
    &__sute {
      width: 288px;
      padding: 30px 2px 2px 2px;
      justify-content: center;
      margin: 25px;
      &:hover {
        border: 3px solid $orange;
        padding: 28px 0px 0px 0px;
      }
      &--active > .price__name {
        line-height: 34px;
        margin-bottom: 0;
      }
    }
    &__name {
      font-size: 24px;
      line-height: 34px;
      margin-bottom: -20px;
      letter-spacing: -0.4px;
      width: 248px;
      text-align: center;
    }
    &__item {
      margin-bottom: 0px;
      font-size: 16px;
      line-height: 32px;
    }
    &__list {
      height: 353px;
      margin-top: 19px;
      margin-left: 6px;
    }
    &__sum {
      font-size: 27px;
      line-height: 34px;
      font-weight: 700;
      margin-top: 29px;
      margin-left: -16px;
      text-align: center;
      width: 100%;
      &--active {
        margin-top: 12px;
        font-size: 26px;
        margin-left: 0px;
      }
    }
    &__reference {
      margin-top: 11px;
      padding-bottom: 10px;
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0px;
      width: 90%;
      height: 71px;
      border-bottom: 1px solid rgba(44, 46, 63, 0.3);
    }
    &__button {
      font-size: 10px;
      line-height: 12px;
      width: 288px;
      height: 50px;
      margin-top: -12px;
      margin-bottom: -2px;
    }
    &__head {
      width: 55%;
      text-align: center;
      font-size: 30px;
      line-height: 45px;
      margin-bottom: 21px;
      &::after {
        visibility: hidden;
      }
    }
    &__text {
      font-size: 18px;
      line-height: 27px;
      width: 726px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    &__contact {
      width: 100%;
      text-align: center;
      font-size: 18px;
      letter-spacing: 1.3px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 32px;
    }
    &__phone {
      width: 100%;
      color: $orange;
      text-align: center;
      text-decoration: underline;
      font-size: 19px;
      margin-top: 11px;
      letter-spacing: 0.5px;
      margin-left: auto;
      margin-right: auto;
      &::after {
        visibility: hidden;
      }
    }
  }
}

@media (max-width:$mobile) {
  .price {
    margin: 150px auto 0px auto;
    &__paopup {
      position: absolute;
    }
    &__description {
      width: 100%;
      order: 0;
    }
    &__sute {
      width: 286px;
      height: 584px;
      padding: 30px 0px 0px 0px;
      justify-content: center;
      margin: 0px auto 26px auto;
    }
    &__name {
      font-size: 24px;
      width: 248px;
      margin-bottom: 0;
      text-align: center;
    }
    &__sum {
      margin-top: -10px;
      margin-bottom: 10px;
      letter-spacing: 0.5px ;
      font-size: 25px;
      line-height: 34px;
      font-weight: 700;
      text-align: center;
      width: 100%;
    }
    &__reference {
      margin-top: -18px;
      padding-top: 0px;
      letter-spacing: 1px;
      padding-bottom: 6px;
      text-align: center;
      width: 258px;
      height: 71px;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 24px;
      border-bottom: 1px solid rgba(44, 46, 63, 0.3);
    }
    &__button {
      font-size: 10px;
      line-height: 12px;
      width: 289px;
      height: 50px;
      margin-bottom: -20px;
    }
    &__list {
      margin-top: 0px;
      margin-left: 10px;
      padding: 0;
      width: 70%;
      height: 312px;
    }
    &__item {
      margin-bottom: 0px;
      margin-top: 0px;
      width: 108%;
      font-size: 16px;
      line-height: 32px;
      letter-spacing: 0;
    }
    &__head {
      width: 50%;
      text-align: center;
      font-size: 24px;
      line-height: 36px;
      margin-top: 24px;
      &::after {
        visibility: hidden;
      }
    }
    &__text {
      width: 84%;
      font-size: 16px;
      line-height: 27px;
    }
    &__contact {
      margin-top: 17px;
      font-size: 18px;
      line-height: 34px;
      letter-spacing: 0;
      margin-bottom: 10px;
      color: $darck;
    }
    &__phone {
      letter-spacing: 0;
      font-size: 18px;
      line-height: 32px;
      margin-bottom: 38px;
    }
  }
}
